@tailwind base;
@tailwind components;
@tailwind utilities;

#slider {
    border: 1px solid black;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 200px;
    border-right: 1px solid white; /* Делает разделитель между слайдами */
}